---
layout: default
title: People
weight: 3
people:
  - name: Katerina Artavanis-Tsakonas, Ph.D, MPH
    image: images/kat2-280.jpg
    sub: University Lecturer in Parasitology
    edu: |
        Wellcome Trust Career Development Fellow, Imperial College
        <br>Post-doctoral Associate, Whitehead institute
        <br>Ph.D Immunology, London School of Hygiene and Tropical Medicine
        <br>MPH Epidemiology, Yale University
  - name: Bill Gregory
    sub: Post-doctoral associate
    edu: PhD, University of Edinburgh
    image: images/bill.jpg
  - name: Maryia Karpiyevich
    sub: Post-doctoral associate
    edu: PhD, University of Cambridge
    image: images/maryia.jpg
  - name: Bradley Nash
    sub: PhD student
    image: images/bradley.jpg
  - name: Cameron Smith
    sub: PhD student
    image: images/cameron.jpg
  - name: Harry King
    sub: PhD student
    image: images/harry.jpg
  - name: Annie Geiger
  sub: MPhil student
  image: images/annie.jpg

alumni:
  - name: Marco Mol
    image: images/marco.png
    sub: Research assistant
    edu: MSc, Vrije Universiteit Amsterdam
  - name: Rhiannon White
    image: images/rhi.png
    sub: Post-doctoral associate
    edu: |
      Ph.D, Imperial College London
      <br>MRes, Imperial College London
  - name: Sachiko Miyata, Ph.D
    image: images/sach.png
    sub: Post-doctoral associate
    edu: |
        Ph.D Molecular Biology, University of Nagoya, Japan<br>
        M.S. Biochemistry, University of Massachusetts
  - name: Pippa Goddard
    image: images/pippa.jpg
    sub: Graduate student
    edu: MRes/Ph.D candidate
  - name: Sharon Versteeg
    image: images/sharon.jpg
    sub: Graduate student
    edu: MRes candidate
  - name: Ed Couchman
    image: images/ed.png
    sub: Graduate student
  - name: Tristan Varela
    image: images/tristan.png
    sub: Undergraduate
  - name: Louis Wai
    image: images/louis.png
    sub: Undergraduate
  - name: Amalina Mumin
    image: images/ame.png
    sub: Graduate student
  - name: Sam Sheppard
    image: images/sam.png
    sub: Graduate student

---
<div class="row">
<div class="twelve columns">
    <h3>Current lab members</h3>
    <hr>
</div>
</div>

{% for item in page.people %}

<div class="row">
    <div class="four columns">
		<img src="{{ item.image }}" class="scale-with-grid">
	</div>
    <div class="eight columns">
		<h4>{{ item.name }}</h4>
		<p class="subheader">{{ item.sub }}</p>
		{{ item.edu }}
	</div>
</div>


{% endfor %}

<div class="row">
  <div class="twelve columns">
    <h3>Alumni</h3>
    <hr>
</div>
</div>

{% for item in page.alumni %}
<div class="row">
    <div class="four columns alpha">
		<img src="{{ item.image }}" class="scale-with-grid">
	</div>
    <div class="eight columns omega">
		<h4>{{ item.name }}</h4>
		<p class="subheader">{{ item.sub }}</p>
		<p>{{ item.edu }}</p>
	</div>
</div>
{% endfor %}
