{% include doctype.html %}
<head>
	
	{% include meta.html %}
	{% include skeletonsetup.html %}

</head>
<body>

	<div class="container">
		<h1>Artavanis-Tsakonas Lab</h1>
	</div>

	<div class="container">
		<ul class="tabs">	
			{% for weight in (1..10) %}
			{% for p in site.pages %}
			{% if p.weight == weight %}
			  <li>
	        	  <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
	          		{{ p.title }}
				</a>
			  </li>
			  {% endif %}
			  {% endfor %}
			  {% endfor %}
		  </ul>
	</div>


	<div class="container">
		
		{{ content }}

	</div>
	<div class="container">
		{% include footer.html %}
	</div>
	
	{% include scripts.html %}
	{% include analytics.html %}

</body>
</html>